/* || GENERAL SETTINGS */

h1 {
  color: #171717; 
  font-family: Baskervville;
  font-size: 84px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 {
  color: #171717;
  font-family: Baskervville;
  font-size: 84px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

p {
  color: #171717;
  font-family: Baskervville;
  font-size: 84px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

span {
  color: red;
}

/* || BODY */

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #131313;
}

/* || GAME SLIDES */

#class {
  background-color: red;
}

#start {
  transition: all 1.2s ease-in-out;
  background-color: #F9F9F9;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  bottom: 0;
}

#game {
  background-color: #131313;
  width: 100%;
  height: 100%;
}

/* || GAME SLIDES */

.modal-classification {
  width: 100%;
  height: 100%;
  background-color: red;
}

.allcontent{
  opacity: 0;
  margin-top: 25px;
  transition: all 0.70s ease-in-out;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.section-wrapper {
  display: flex;
  align-items: center;
}

.line-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section {
  margin-top: 15em;
}

.button-section{
  display:flex;
  justify-content: center;
  align-items: center;
}

.line-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: .5em;
}

.button-wrapper{
  margin-top: 5em;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: Montserrat;
  color: red;
  font-size: 48px;
  font-weight: 300;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  transition: all 0.15s ease-in-out;
  letter-spacing: 10px;
}

.cta-classification{
  font-size: 32px;
  transition: all 0.15s ease-in-out;
  text-decoration: underline;
  color: #171717;
}

button:hover {
  color: #171717;
  border: none;
  outline: none;
  background: red;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 300;
  cursor: pointer;
}

.cta-classification:hover {
  color: #171717;
  border: none;
  outline: none;
  background: red;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
}

button.cta-close {
  border: none;
  outline: none;
  background: none;
  font-family: Baskerville;
  color: white;
  font-size: 36px;
  font-weight: 300;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
  transition: all 0.15s ease-in-out;
  letter-spacing: 10px;
}

button.cta-close:hover {
  background: red;
  color: #171717;
}

.close-btn {
  margin-left: 100px;
  margin-top: 25px;
  justify-content: flex-end;
  display: flex;
  margin-right: 100px;
}

.red-square {
  background-color: red;
  position: absolute;
}

p.counter {
  color: white;
  font-size: 48px;
  text-align: right;
}

.counter-kill {
  margin-right: 100px;
  padding: 0.5em;
}

.all-squares {
  width: 100%;
  height: 75vh;
}

.redsquare {
  width: fit-content;
  height: fit-content;
  user-select: none;
  position: fixed;
  transition: transform 1s, opacity 0.1s, visibility 0.1s;
  opacity: 0;
  visibility: hidden;
}

.redsquare--1 {
  width: 100px;
  height: 100px;
  background-color: red;
  bottom: 0;
  left: 300px;
  transform: translateY(-2000%);
}

.redsquare--2 {
  width: 400px;
  height: 400px;
  background-color: red;
  top: 150px;
  right: 0;
  transform: translateX(-1000%);
}

.redsquare--3 {
  width: 125px;
  height: 125px;
  background-color: red;
  top: 0;
  left: 700px;
  transform: translateY(2000%);
}

.redsquare--4 {
  width: 200px;
  height: 200px;
  background-color: red;
  bottom: 500px;
  left: 0;
  transform: translateX(2000%);
}

.redsquare--5 {
  width: 20px;
  height: 20px;
  background-color: red;
  bottom: 0;
  right: 500px;
  transform: translateY(-10000%);
}

.redsquare--show {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }